#name {
  position: absolute;
  bottom: 80px;
  left: 266px;
  width: 1388px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  font-size: 70px;
  font-family: sans-serif;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
