.container {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-self: center;
  position: relative;
  margin: var(--space-ui);
  box-sizing: border-box;
  width: calc(100% - 2 * var(--space-ui));
  height: calc(100% - 2 * var(--space-ui));
}

.screen {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 100px -20px;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform-origin: top left;
}

.screen iframe {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  pointer-events: none;
  background: transparent;
  object-fit: contain;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
