.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
}

.sliderTrack {
  position: relative;
  flex-grow: 1;
  height: 4px;
  background-color: var(--neutral2);
  border-radius: 9999px;
}

.sliderRange {
  position: absolute;
  height: 100%;
  background: var(--primary9);
  border-radius: 9999px;
}

.sliderThumb {
  display: block;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid var(--neutral2);
  border-radius: 50%;
}
